
SubDocReview/.idea/vcs.xml
SubDocReview/.idea/vcs.xml
SubDocReview/.idea/workspace.xml
SubDocReview/.idea/vcs.xml
SubDocReview/.idea/workspace.xml
SubDocReview/project/.idea/inspectionProfiles/profiles_settings.xml
SubDocReview/project/.idea/misc.xml
SubDocReview/project/.idea/modules.xml
SubDocReview/project/.idea/SubDocReview.iml
SubDocReview/project/.idea/encodings.xml
SubDocReview/.idea/workspace.xml
SubDocReview/project/.idea/workspace.xml
FlaskCRUD-master/.idea/FlaskCRUD-master.iml
FlaskCRUD-master/.idea/vcs.xml
SubDocReview/.idea/workspace.xml
FlaskCRUD-master/.idea/inspectionProfiles/profiles_settings.xml
FlaskCRUD-master/.idea/misc.xml
FlaskCRUD-master/.idea/modules.xml
SubDocReview/.idea/workspace.xml
/SubDocReview/project/.idea/
/SubDocReview/.idea/

SubDocReview/.idea/misc.xml
SubDocReview/.idea/SubDocReview.iml
SubDocReview/.idea/workspace.xml
