{% extends 'base.html' %}
{% block content %}
          <div style="margin-top:40px;">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <h5 class="mb-1">Line #0</h5>
                <input type="checkbox" id="check1">
                <label class="" for="check3">Medical History |</label>
                <input type="checkbox" id="check2">
                <label class="" for="check4">Health Insurance</label>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Donec id elit non mi porta.</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <h5 class="mb-1">Line #1</h5>
                <input type="checkbox" id="check3">
                <label class="" for="check3">Check me</label>
                <input type="checkbox" id="check4">
                <label class="" for="check4">Check me</label>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Donec id elit non mi porta.</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <h5 class="mb-1">Line #2</h5>
                <input type="checkbox" id="check5">
                <label class="" for="check3">Check me</label>
                <input type="checkbox" id="check6">
                <label class="" for="check4">Check me</label>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Donec id elit non mi porta.</small>
              </a>
            </div>
          </div>
{% endblock content %}